<p>Choose which guests to invite to your event!</p>

  <%= form_with scope: invites, url: event_invites_url, method: :post do |form| %>
    <div>
      <%= form.collection_check_boxes(
              :attendee_id,
              User.all_others(current_user).not_invited(params[:event_id]).order(:created_at),
              :id,
              :username)
        %>
    </div>
    <br>
    <div>
      <%= form.submit "Send" %>
    </div>
  <% end %>
