<h1>Guests invited to event on <%= date_informal(@event.date) %></h1>

<% pending_invites  = @invites.pending(@event) %>
<% accepted_invites = @invites.accepted(@event) %>
<% pending_count    = pending_invites.size %>
<% accepted_count   = accepted_invites.size %>

<%= render 'invites', invites: accepted_invites, event: @event, count: accepted_count, verb: 'attending' %>

<%= render 'invites', invites: pending_invites, event: @event, count: pending_count, verb: 'pending' %>

<%= link_to 'Back to event', event_path(@event) %>
