<h1>New Invite</h1>
<% if @invites.errors.any? %>
  <h3>The following errors prevented the invite from being sent:</h3>
  <ul>
    <% @invites.errors.messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
<% end %>

<p>Choose which guests to invite to your event!</p>
<br>
<%= render 'form' %>
<br>
<%= link_to 'Back', "/events/#{params[:event_id]}" %>