<h1>Invite Information</h1>

<div id="<%= dom_id @invite %>">
  <p>
    <strong>From:</strong>
    <%= @invite.event.creator.username %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @invite.event.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <% if @invite.accepted %>
      Going
    <% elsif @invite.accepted.nil? %>
      Pending confirmation
    <% end %>
  </p>
</div>

<%= link_to "Back to events", root_path %>
