<div class="mb-3">
  <strong><%= past_or_future_guests(event) %>:</strong>
  <ul>
    <% User.attending(event).each do |attendee| %>
      <li><%= link_to attendee.username, user_path(attendee) %></li>
    <% end %>
  </ul>
</div>

<% if future?(event) %>
  <div class="mb-3">
    <strong>Tentative guests:</strong>
    <ul>
      <% User.pending(event).each do |attendee| %>
        <li><%= link_to attendee.username, user_path(attendee) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
