<% if current_user.id == event.creator_id %>
  <div class="mb-3 btn-group-vertical">
   
    <div class="mb-3">
      <%= link_to "Send invites",
              new_event_invite_path(event_id: event.id),
              class: "btn btn-sm btn-primary" %>
      <% if Invite.where(event_id: event.id).any? %>
        <%= link_to "View invites sent",
                event_invites_path(event_id: event.id),
                class: "btn btn-sm btn-secondary" %>
      <% end %>
    </div>
    <% if future?(event) %>
     
      <%= link_to "Cancel event",
              event_path(event_id: event.id),
              data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to cancel this event?"
                },
                class: "btn btn-sm btn-danger" %>
    
    <% end %>
  </div>
<% end %>
