<h1>Events</h1>

<%= render 'events', events: @future_events, event_when: 'Upcoming' %>

<%= render 'events', events: @past_events, event_when: 'Past' %>

<div class="mb-3">
  <%= link_to 'New Event',
        new_event_path,
        class: "btn btn-secondary mb-3" %>
</div>
