<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= link_to event do %>
      <div class="event">
        <div class="creator"> Host: <%= event.creator.email %></div>
        <div class="time"> Date: <%= event.date %></div>
      </div>
    <% end %>
  <% end %>
</div>
<br>

<%= link_to 'New Event', 'events/new' %>